<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="husband" class="com.simple.springframework.test.bean.Husband">
        <property name="wife" ref="wife"/>
    </bean>

    <bean id="husbandMother" class="com.simple.springframework.test.bean.HusbandMother"/>


    <bean id="wife" class="com.simple.springframework.test.bean.Wife">
        <property name="husband" ref="husband"/>
        <property name="mother" ref="husbandMother"/>
    </bean>


<!--    &lt;!&ndash; AOP 配置，验证三级缓存 &ndash;&gt;-->
<!--    <bean class="com.simple.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>-->

<!--    <bean id="beforeAdvice" class="com.simple.springframework.test.bean.SpouseAdvice"/>-->

<!--    <bean id="methodInterceptor" class="com.simple.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">-->
<!--        <property name="advice" ref="beforeAdvice"/>-->
<!--    </bean>-->

<!--    <bean id="pointcutAdvisor" class="com.simple.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">-->
<!--        <property name="expression" value="execution(* com.simple.springframework.test.bean.Wife.*(..))"/>-->
<!--        <property name="advice" ref="methodInterceptor"/>-->
<!--    </bean>-->

</beans>